html {
    font-family: 'Luckiest Guy', cursive;
    color: #222222;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 580px) 1fr;
}

.wrapper header {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

h1 {
    font-size: 3.1em;
    margin: 20px 0;
}

.wrapper main {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.wrapper footer {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.scorebox {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.6em;
}

#roundbox {
    text-align: center;
    font-size: 1.4em;
    margin-top: 15px;
}

.gameplay {
    height: 90px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

#play {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
}

.player-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    transition: opacity 0.7s ease-in;
}

.selection {
    margin: 5px 10px 5px 10px;
    height: 110px;
    width: 110px;
    border: 1px solid #222222;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 #888888;
    opacity: 0.5;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-selection {
    opacity: 0.3;
}

.playing-selection:hover {
    box-shadow: 0 1px 6px 0 #888888;
    opacity: 0.9;

}

.selection img {
    width: 95px;
}